{% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>云茂|优鲜百惠</title>
    <script src="{{__PUBLIC__}}/home/js/Adaptive.js"></script>
    <link rel="stylesheet" href="{{__PUBLIC__}}/home/css/swiper.min.css">
    <link rel="stylesheet" href="{{__PUBLIC__}}/home/css/style.css">
    <link rel="stylesheet" href="{{__PUBLIC__}}/static/customalert/css/xcConfirm.css">

</head>
{% endblock %}