<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/Index/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="pic[]" />
    <input type="file" name="pic[]" />
    <input type="file" name="pic[]" />
    <input type="hidden" name="MAX_FILE_SIZE" vilue="60000000">
    <input type="submit" name="submit" vilue="提交" />
</form>
</body>
</html>